extends ./partials/template

block body
    h2 Sign up
    form(method='post' target='_self' action='/login')
        label(for='username') Username
        input#username(type='text' name='username' required)
        label(for='password') Password
        input#password(type='password' name='password' required)
        .login_error
        button Log In
    script.
        const form = document.querySelector('form');
        form.addEventListener('submit', async e=>{
            e.preventDefault();
            const username = form.username.value;
            const password = form.password.value;
            await fetch('/login',{
                method:'POST',
                body:JSON.stringify({username, password}),
                headers: {'Content-Type': 'application/json'}
            }).then(res=>console.log(res)).catch(err=>console.log(err));
        });